html,
body,
#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* App display */

.app-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.sidebar {
  grid-area: 1/ 1 / 7 / 1;
  height: 100vh;
  background: black;
}

.display-container {
  grid-area: 1/ 2 / 7 / 11;
}
