.gallery {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 5rem;
}

.gallery-title {
  margin: 1.5rem;
}

.gallery-items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
