.container {
  background-color: aqua;
  width: 55rem;
  height: 35rem;
  margin-top: 15rem;
  align-content: center;
  justify-content: center;
}

.random-outfit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blueviolet;
}
.clothing-item {
  height: 13rem;
  width: 13rem;
  background-color: blanchedalmond;
  color: black;
}
