.sidebar {
  background-color: black;
  width: 12%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar > h1 {
  background-color: black;
  color: white;
  margin-bottom: 5rem;
}

.all-icons {
  background-color: black;
  margin-left: 3rem;
}

.clothing-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}

.react-icons {
  background-color: black;
  color: white;
}

button {
  font-size: 2rem;
  margin-bottom: 7rem;
  cursor: pointer;
  align-self: center;
  background-color: black;
  border: none;
}
