.weather-container {
  background-color: rgb(226, 232, 232);
  border: solid black;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.apidata {
  display: flex;
  justify-content: center;
}

.emoji {
  font-size: 12rem;
  font-family: 'Segoe UI Emoji'; /*This font makes all emojis appear colored*/
}

.top-data {
  display: contents;

  justify-content: space-around;
}

.center-data {
  font-size: 1.5rem;
}
